<% if game_codes.empty? %>
  <h2>No friend codes defined</h2>
<% else %>
  <table>
    <% game_codes.each do |friend_code| %>
      <tr>
        <th style="font-size: 0.7em; padding-right: 0.5em; text-align: right;"><%=h friend_code.game.name %></th>
        <td><%=h friend_code.friend_code %></td>
      </tr>
    <% end %>
  </table>
<% end %>


